<!DOCTYPE html>
<body>  
    <div>
        <p>Login</p>
        <form method="post">
            <input type="text" placeholder="Username" name="Username" value="">
            <br>
            <input type="password" placeholder="Password" name="Password" value="">
            <br>
            <input type="submit" name="useraction" value="Log in">
            <input type="reset" name="useraction" value="Reset">

            <input type="submit" name="useraction" value="New User">

            {%if errs%}
                {%if erNo%}
                <br><p>Errors detected: {{erNo}}</p>
                <ul>
                    {% for e in errs %}
                    <li>{{ e }}</li>
                    {% endfor %}
                </ul>
                {%endif%}
            {%endif%}

        </form>
    </div>
</body>
