<!DOCTYPE html>
<body>  
    <div>
        <p>New Game</p>
        <form method="post">

            <label for="GameName">Public</label>
            <input type="text" id="GAMENAME" name="gameName" value="name here"><br>

            <label for="PUBLIC">Public</label>
            <input type="radio" id="PUBLIC" name="privacyStatus" value="Public"><br>

            <label for="FRIENDS">Friends</label>
            <input type="radio" id="FRIENDS" name="privacyStatus" value="Friends"><br>

            <label for="PRIVATE">Private</label>
            <input type="radio" id="PRIVATE" name="privacyStatus" value="Private"><br>

            <label for="MONEY">Starting capital</label>
            <input type="range" id="MONEY" name="moneyAmount" value="10000" min="10000" max="1000000" step="1000" onchange="updateSlider(this.value);">
            <input type="text" id="MONEYVAL" value="10000" disabled><br>

            <label for="STARTTIME">Start time</label>
            <input type="datetime-local" name="startTime" id="STARTTIME" value="" min=""><br>
            <label for="ENDTIME">End time</label>
            <input type="datetime-local" name="endTime" id="ENDTIME" value=""><br>
            <!-- Add min and max to end time -->

            <br>
            <input type="submit" value="Create">
            <input type="reset" value="Reset" onchange="now();">

            <br><br>

            <input type="submit" name="back" value="Back">

            {%if errs%}
                {%if erNo%}
                <br><p>Errors detected: {{erNo}}</p>
                <ul>
                    {% for e in errs %}
                    <li>{{ e }}</li>
                    {% endfor %}
                </ul>
                {%endif%}
            {%endif%}
        </form>
    </div>

    <script>
        function updateSlider(val)
        {
            document.getElementById('MONEYVAL').value = val;
        }

        function now()
        {
            const now = new Date();
            const year = String(now.getFullYear().toString()).padStart(4,'0');
            const day = String((now.getDate()).toString()).padStart(2,'0');
            const month = String((now.getMonth()+1).toString()).padStart(2,'0');
            const hour = String(now.getHours().toString()).padStart(2,'0');
            const minute = String(now.getMinutes().toString()).padStart(2,'0');
            const minStartTime = `${year}-${month}-${day}T${hour}:${minute}`;
            document.getElementById('STARTTIME').value = minStartTime;
            document.getElementById('STARTTIME').min = minStartTime;
            document.getElementById('ENDTIME').value = minStartTime;
            document.getElementById('ENDTIME').min = minStartTime;
        }

        now();
    </script>
</body>
