<!DOCTYPE html>
<body>  
    <div>
        <p>Create Account</p>
        <form method="post">
            <input type="text" placeholder="Username" name="Username" value="">
            <br>
            <input type="password" placeholder="Password" name="Password" value="">
            <br>
            <input type="password" placeholder="Confirm Password" name="Confirm Password" value="">
            <br>
            <input type="text" placeholder="Finnhub Key" name="Finnhub Key" value="">
            <br>
            <input type="submit" value="Log in">
            <input type="reset" value="Reset">
        </form>
    </div>
</body>
